.main-div{
    background-image: url("./img/main.jpg");
    height: 700px;
    width: 100%;
   
    
}
.cimg {
height: 80px;
border-radius: 90%;
display: flex;
flex-direction: column-reverse;
margin: 24px;
}

#pic {
    display: flex;
    flex-direction: row;
   
}
